.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
 background: linear-gradient(180deg, black, rgb(80, 80, 80));
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.botoes {
  display: flex;
  gap: 1.5rem;
}

button {
  background-color: #ffffff;
  color: #2c3e50;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #2c3e50;
  color: white;
  transform: scale(1.05);
}


