* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #121212;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 90%;
  gap: 15px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

h2 {
  font-size: 25px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}

.code-inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.code-inputs input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #1a1a1a;
  color: white;
}

.code-inputs input:focus {
  border: 2px solid #00bfff;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00bfff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0099cc;
}

.erro {
  color: red;
  text-align: center;
  font-size: 14px;
}

.success {
  color: #00ff7f;
  text-align: center;
  font-size: 14px;
}
